<div id="parent"> <app-header id="header2"></app-header> </div>
<!-- <div class=""></div> -->
<div class="container white-space">
<h2 class="text-center heading">Our Story</h2>
<h3 class="text-center text-size">We are on a mission to empower 60 million small businesses in India with tools, resources and networks that typically big corporations have access to</h3>
<p class="text-center p-size">We do not consider ourselves as sellers of a product, but as small business growth partners. We engage with businesses across multiple touch points and constantly try to understand their challenges to tailor our solutions. We leverage technology and partner networks to deliver tangible and implementable solutions</p>
<div class="wrapper">
    <div class="row">
        <div class="col-xl-8  text-up">
            <svg _ngcontent-jle-c37="" width="54" height="43" viewBox="0 0 54 43" fill="none" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-jle-c37="" d="M13.6 21.4975H21.2V42.4975H1.01328e-06V23.4975L11.2 0.497488H21.2L13.6 21.4975ZM45.6 21.4975H53.2V42.4975H32V23.4975L43.2 0.497488H53.2L45.6 21.4975Z" fill="#5F80F8"></path></svg>

            <h3 class="block-1-text">Our platform allows full control of business from purchase to collections, instant access to cheap capital, and smart engagements with industry experts</h3>
        </div>
        <div class="col-xl-4">
            <img src="../../../assets/images/Active-Support-amico.svg">
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="row">
        <div class="col-xl-4">
            <img src="../../../assets/images/Meeting-bro.svg">

        </div>
        <div class="col-xl-8 text-up text-left">
            <h3 class="block-1-text">We are constantly working with partners who are aligned with our mission to empower small businesses and deliver innovative solutions.</h3>
        </div>
    </div>
</div>

<h2 class="text-center heading-2">Our Team</h2>

<div class="team-section">
<div class="row">
    <div class="col-xl-6">
        <div class="team-image-wrapper">
        <img class="team-image center" src="../../../assets/images/jeevan.png">
    </div>
        <p class="name text-center">Jeevan Gopisetty</p>
        <p class="text-center">Co-Founder & CEO</p>
        <p class="text-center member-des">An ex-entrepreneur with over 12 years of experience with tech behemoths such as Qualcomm, ARM, NVIDIA, AMD, Broadcom and Infineon across the UK and India. MBA from IIM Ahmedabad and B.Tech. in Electronics from JNTU Hyderabad</p>
        
    </div>
    <div class="col-xl-6">
        <div class="team-image-wrapper">
        <img class="team-image" src="../../../assets/images/ashish.png">
    </div>
        <p class="name text-center">Ashish Deswal</p>
        <p class="text-center">Co-Founder & CEO</p>
        <p class="text-center member-des">Over 11 years of experience spanning investment research, consulting and corporate finance. Has worked with logistics startup Delhivery, FinTech startup Trefis, and Deloitte. MBA from IIM Ahmedabad and B.Tech. in Electrical from IIT Bombay</p>
    </div>
</div>


<div class="row">
    <div class="col-xl-6">
        <div class="team-image-wrapper">
        <img class="team-image" src="../../../assets/images/pavan.png">
    </div>
        <p class="name text-center">Mahathe Pavan</p>
        <p class="text-center">Chief Technology Officer</p>
        <p class="text-center member-des">A versatile technophile who has built research platforms for IISC, NBF Hyderabad, GMRT and NCRA, played CTO roles at flujo.io and OpenPlay, which runs gaming platforms, and co-founded CRE Matrix – a boutique real-estate data analytics firm</p>
        
    </div>
    <div class="col-xl-6">
        <div class="team-image-wrapper">
        <img class="team-image" src="../../../assets/images/ravi-shankar.png">
    </div>
        <p class="name text-center">Ravi Shankar</p>
        <p class="text-center">Chief Growth Officer</p>
        <p class="text-center member-des">10 years of experience in consultative sales, key account management and customer success; with expertise in selling tech solutions to Fortune 500 companies and SMEs. MBA from IIM Ahmedabad and B.Tech. in Electrical from IIT Madras</p>
    </div>
</div>
</div>
</div>
<app-footer></app-footer>