
<div id="parent"> <app-header id="header2"></app-header> </div>
<p class="header text-center">Get In Touch</p>
<div class="container">
    <div class="row wrapper">
        <div class="col-xl-4">
            <img class="item-display icon" src="../../../assets/images/mail.svg">
            <p class="item-display simple-text">Email us at</p>
            <p>For Business enquiries</p>
            <p>jeevan@gonemo.io</p>
        </div>
        <div class="col-xl-4">
            <img class="item-display icon" src="../../../assets/images/phone.svg">
            <p class="item-display simple-text">Contact us at</p>
            <p>Hyderabad, India</p>
            <P>+91 889 762 8000</P>
        </div>
        <div class="col-xl-4">
            <img class="item-display icon" src="../../../assets/images/time.svg">
            <p class="item-display simple-text">Working Hours</p>
            <p>Days :</p>
            <P>Monday - Friday</P>
        </div>
    </div>
</div>
<p class="header text-center">Leave a Messege</p>
<p class="text-center">Leave a message and We’ll get back to you shortly.</p>
<div class="container">
    <div class="row wrapper">
        <div class="col-xl-6">
                <label for="name">name</label><br>
                <input type="text" name="name" id="name" placeholder="Your full name"><br><br>
                <label for="female">Name of Organisation</label><br>
                <input type="text" name="org" id="org" placeholder="Leave it Emplty if you don't have a name"><br><br>
                <label for="other">Contact Number</label><br>
                <input type="number" name="number" id="number" placeholder="Please enter your mobile number"><br><br>
                <label for="other">Email</label><br>
                <input type="text" name="email" id="email" placeholder="Enter your Email"><br>
        </div>
        <div class="col-xl-6">
            <label for="other">Your message</label><br>
            <textarea rows="10" cols="30" type="text" name="email" id="email" placeholder="Please describe somthing about your project"></textarea><br>
        </div>
        <div class="button">
            <button class="form-button">SUBMIT</button>
        </div>
    </div>
</div>
<app-footer></app-footer>