
<div id="parent"> <app-header id="header2"></app-header> </div>
<p class="header text-center">Get In Touch</p>
<div class="container">
    <div class="row wrapper">
        <div class="col-xl-4 col-sm-4">
            <img class="item-display icon" src="../../../assets/images/mail.svg">
            <p class="item-display simple-text">Email us at</p>
            <p>For Business enquiries</p>
            <p>jeevan@gonemo.io</p>
        </div>
        <div class="col-xl-4 col-sm-4">
            <img class="item-display icon" src="../../../assets/images/phone.svg">
            <p class="item-display simple-text">Contact us at</p>
            <p>Hyderabad, India</p>
            <P>+91-912 100 7703</P>
        </div>
        <div class="col-xl-4 col-sm-4">
            <img class="item-display icon" src="../../../assets/images/time.svg">
            <p class="item-display simple-text">Working Hours</p>
            <p>Days :</p>
            <P>Monday - Thursday</P>
        </div>
    </div>
</div>
<p class="header text-center">Leave a Messege</p>
<p class="text-center">Leave a message and We’ll get back to you shortly.</p>
<div class="container form-width">
    <form  [formGroup]="profileForm"  (ngSubmit)="onSubmit($event)">
    <div class="row wrapper">
        <div class="col-xl-6 col-sm-6">
                <label for="name">Name</label><br>
                <input type="text" formControlName="Name" name="name" id="name" placeholder="Full name" required>
                <span class="error" *ngIf="profileForm.get('Name').errors?.required  && profileForm.get('Name').touched">
					Please email address </span>
                    <br><br>
                <label for="Oname">Name of Organisation</label><br>
                <input type="text" formControlName="Organisation" name="org" id="org" placeholder="Organisation name (option)"><br><br>
                <label for="other">Contact Number</label><br>
                <input type="number" formControlName="ContactNumber" name="number" id="number" placeholder="Mobile number" required>
                <span class="error" *ngIf="profileForm.get('ContactNumber').errors?.required  && profileForm.get('ContactNumber').touched">
                    Please enter mobile number </span>
                    <br><br>
                <label for="other">Email</label><br>
                <input type="text" formControlName="Email" name="email" id="email" placeholder="Email address" required>
                <span class="error" *ngIf="profileForm.get('Email').errors?.required  && profileForm.get('Email').touched">
					Please enter name </span><br>
        </div>
        <div class="col-xl-6 col-sm-6">
            <label for="other">Your message</label><br>
            <textarea rows="10" formControlName="Message" cols="30" type="text" name="email" id="email" placeholder="Write your message"></textarea><br>
            <span class="error" *ngIf="profileForm.get('Message').errors?.required  && profileForm.get('Message').touched">
                Please enter message </span>
        </div>
        <div class="button">
            <button class="form-button" (click)="openModalWithClass(template)" [disabled]=!profileForm.valid>SUBMIT</button>
        </div>
    </div>
</form>
</div>


<ng-template #template>  
      <button type="button" class="close btn-3" aria-label="Close" (click)="modalRef.hide()">  
        <span aria-hidden="true">×</span>  
      </button>  

    <div class="modal-body">  
      <img class="img" src="../../../assets/images/thanks-you.svg">
      <p class="text-center p-1">Thank you for your interest.</p>
      <p class="text-center p-2">Our management will reach out to you shortly.</p>
      <button class="btn-1" (click)="modalRef.hide()">close</button>
    </div>  
  
  </ng-template>  
<app-footer></app-footer>