.partener{
    background-color: #555CFA;
}
.parner-text{
    color: white;
}
.wrapper-main{
    height: 100vh;
}
.set-main-section{
    padding-top: 16%;
}
.side-text{
    padding-top: 5%;
}
.leding-partner-form{
    padding: 8px 24px;
    height: 48px;
    border: none;
    outline: none;
    background-color: #ff5a5a;
    box-shadow: 0 24px 33px rgba(0,0,0,.15);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    -webkit-transition: .3s;
    transition: .3s;
}
.border-in-image{
    border-right: 0.4px solid #828282;
}
.middle-image{
    padding-left: 20%;
}
.box-shadow{
    padding: 10px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
.main-content{
    padding: 10% 6% 6% 6%;
    width: 80%;
    margin: auto;
}
.main-content-first-heading{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #333333;
}
.business-secrtiton-text{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #333333;
}
.business-section-button{
    padding: 8px 24px;
    height: 48px;
    border: none;
    outline: none;
    background-color: #ff5a5a;
    box-shadow: 0 24px 33px rgba(0,0,0,.15);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    -webkit-transition: .3s;
    transition: .3s;
}
.business-section{
    margin-top: 5%;
}
.text-business{
    padding-top: 2%;
}
#parent{
    background-color: transparent;
    position: fixed;
    width: 100%;
    padding-top: 30px;
    z-index: 1;
    transition: .3s;
}
html{
    scroll-behavior: smooth;
    transition: .3s;
}