<div id="parent"> <app-header id="header2"></app-header> </div>
<div class="partener">
    <div class="wrapper-main">
        <div class="container">
            <div class="set-main-section">
                <div class="row">
                    <div class="col-xl-6 col-sm-6">
                        <img class="img1" src="../../../assets/images/Finance-amico.svg">
                    </div>
                    <div class="col-xl-6 col-sm-6 side-text">
                        <h3 class="parner-text">Banking</h3>
                        <p class="parner-text">We offer integrated banking, payment and accounting services to MSMEs to help them run business seamlessly. Our platform is powered by ICICI Bank’s business banking framework which facilitates digital current account opening and management, vendor payments, customer collections, and easy reconciliation.</p>
                        <p class="parner-text">Partner</p>
                        <img src="../../../assets/images/icici_business_banking_logo.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-sm-6">
                    <h3 class="main-content-first-heading">Lending</h3>
                    <p class="t-1">We offer term loans, invoice discounting and line of credit to MSMEs through a network of lending partners. We reduce credit risk and assist in credit underwriting by</p>
                    <p class="t-1">Giving confidence score, which is updated every quarter, based on over 20 financial and non-financial parameters</p>
                    <p class="t-1">Real-time credit event alerts as MSMEs transact on our platform</p>
                    <p class="t-1">Providing holistic business services so that credit financing is deployed for business.</p>
                    <button class="leding-partner-form"  (click)="openModalWithClass(template1)">Become a Lending Partner</button>
                </div>
                <div class="col-xl-6 col-sm-6">
                    <img class="img2" src="../../../assets/images/Bitcoin-P2P-rafiki.svg">
                    <h5>Partner</h5>
                    <div class="row box-shadow">
                        <div class="col-xl-6">
                            <h6>Term Loan</h6>
                            <div class="row border-in-image">
                                <div class="col-xl-6 col-sm-6">
                                    <img class="img3" src="../../../assets/images/rangde.png">
                                </div>
                                <div class="col-xl-6 col-sm-6">
                                    <img class="img3" src="../../../assets/images/indifi.png" style="padding-top: 2%;">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <h6 class="h-1 text-canter">Invoice Discounting</h6>
                            <div class="middle-image-wrapper">
                                <img class="img3 middle-image" src="../../../assets/images/kredx.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="business-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-sm-6">
                    <img class="img4" src="../../../assets/images/Business-deal-bro.svg">
                </div>
                <div class="col-xl-6 col-sm-6 text-business">
                    <p class="business-secrtiton-text">Business Services</p>
                    <p class="t-2">Our service partners collaborate with Nemo to help MSMEs with compliance, business investments, and operations. We focus on implementation and tangible outcomes. Our tech-driven matching system enables the interaction between a service partner and an MSME. Service partners can track their interactions on our platform through a dedicated portal.</p>
                    <p class="t-2">Partner</p>
                    <img src="../../../assets/images/smea.png"><br><br>
                    <button class="business-section-button" (click)="openModalWithClass1(template)" >Become a Business Service Partner</button>
                </div>
            </div>
        </div>
    </div>
    

    <div class="wrapper-dialog">
    <ng-template #template1>
        
        <div class="modal-header">  
          <h4 class="modal-title text-ctr1">BECOME A LENDING PARTNER</h4>  
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">  
            <span aria-hidden="true">×</span>  
          </button>  
      
        </div>  
        <div class="modal-body">  
          <!-- <h3>List of my upcomming articles in DZone</h3>   -->
          <div class="row">
              <div class="col-xl-12">
      <input type="text" class="model-input1" placeholder="Compny Name"><br>
      <input type="text" class="model-input1" placeholder="Contact Person"><br>
      <input type="text" class="model-input1" placeholder="Phone number"><br>
      <input type="text" class="model-input1" placeholder="Email"><br>
      </div>

      </div>
          <!-- <h3>You can check my all DZone Articles <a href="https://dzone.com/users/3961436/sidmvp07.html">here</a></h3>   -->
        </div>  
        <div class="modal-footer">  
          <button type="button" class="btn btn-default btn-3" (click)="modalRef.hide()">Submit</button>  
        </div>  
    
      </ng-template> 
    </div>  
<!-- <h2 style="text-align: center;">Example of Ngx-Bootstrap Modal</h2>  

<div style="width: fit-content;margin: auto;margin-top: 18px;">  

  <button type="button" class="btn btn-primary">Open modal</button>  

</div>  
<br>   -->

<ng-template #template>  
  <div class="modal-header">  
    <h4 class="modal-title text-ctr">BECOME NEMO'S BUSINESS SERVICE PARTNER</h4>  
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">  
      <span aria-hidden="true">×</span>  
    </button>  

  </div>  
  <div class="modal-body">  
    <!-- <h3>List of my upcomming articles in DZone</h3>   -->
    <div class="row">
        <div class="col-xl-6">
<input type="text" class="model-input" placeholder="Name"><br><br>
<input type="text" class="model-input" placeholder="Phone number">
</div>
<div class="col-xl-6">
<select name="cars" id="cars" class="model-input">
    <option value="Searvice area"> Service area</option>
    <option value="haydrabd1">haydrabd1</option>
    <option value="haydrabad2">haydrabad2</option>
    <option value="audhaydrabad3">haydrabad2</option>
  </select>
<br><br>
<input type="text" class="model-input" placeholder="Email">

</div>
</div>
    <!-- <h3>You can check my all DZone Articles <a href="https://dzone.com/users/3961436/sidmvp07.html">here</a></h3>   -->
  </div>  
  <div class="modal-footer">  
    <button type="button" class="btn btn-default btn-2" (click)="modalRef.hide()">Submit</button>  
  </div>  

</ng-template>  

<app-footer></app-footer>