<div id="parent">
    <app-header id="header2"></app-header>
</div>
<div class="partener">
    <div class="wrapper-main">
        <div class="container">
            <div class="set-main-section">
                <div class="row">
                    <div class="col-xl-6 col-sm-6">
                        <img class="img1" src="../../../assets/images/Finance-amico.svg">
                    </div>
                    <div class="col-xl-6 col-sm-6 side-text">
                        <h3 class="parner-text">Banking</h3>
                        <p class="parner-text">We offer integrated banking, payment and accounting services to MSMEs to
                            help them run business seamlessly. Our platform is powered by ICICI Bank’s business banking
                            framework which facilitates digital current account opening and management, vendor payments,
                            customer collections, and easy reconciliation.</p>
                        <img src="../../../assets/images/icici_business_banking_logo.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-sm-6">
                <h3 class="main-content-first-heading">Lending</h3><br>
                <p class="t-1">We offer term loans and 
                    invoice discounting to MSMEs through a network of lending partners. We reduce credit risk and assist in credit underwriting by giving confidence score, credit event alert, and providing holistic business services to MSMEs so that credit financing is deployed correctly.
                    </p>
                <!-- <p class="t-1">Giving confidence score, which is updated every quarter, based on over 20 financial and
                    non-financial parameters</p>
                <p class="t-1">Real-time credit event alerts as MSMEs transact on our platform</p>
                <p class="t-1">Providing holistic business services so that credit financing is deployed for business.
                </p> -->
                <button class="leding-partner-form" (click)="openModalWithClass(template1)">Become a Lending
                    Partner</button>
            </div>
            <div class="col-xl-6 col-sm-6">
                <img class="img2" src="../../../assets/images/Bitcoin-P2P-rafiki.svg">
                <div class="row box-shadow">
                    <div class="col-xl-6">
                        <h6>Term Loan</h6>
                        <div class="row border-in-image">
                            <div class="col-xl-6 col-sm-6">
                                <img class="img3" src="../../../assets/images/rangde.png">
                            </div>
                            <div class="col-xl-6 col-sm-6">
                                <img class="img3" src="../../../assets/images/indifi.png" style="padding-top: 2%;">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <h6 class="h-1 text-canter">Invoice Discounting</h6>
                        <div class="middle-image-wrapper">
                            <img class="img3 middle-image" src="../../../assets/images/kredx.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="business-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-sm-6">
                <img class="img4" src="../../../assets/images/Business-deal-bro.svg">
            </div>
            <div class="col-xl-6 col-sm-6 text-business">
                <p class="business-secrtiton-text">Business Services</p>
                <p class="t-2">Our service partners collaborate with Nemo to 
                    help MSMEs with compliance, business investments, and operations. We focus on implementation and tangible outcomes.
                    </p>
                <img src="../../../assets/images/smea.png"><br><br>
                <button class="business-section-button" (click)="openModalWithClass1(template)">Become a Business
                    Service Partner</button>
            </div>
        </div>
    </div>
</div>


<div class="wrapper-dialog">
    <ng-template #template1>

        <div class="modal-header">
            <h4 class="modal-title text-ctr1">BECOME A LENDING PARTNER</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>

        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xl-12">
                    <form  [formGroup]="profileForm"  (ngSubmit)="onSubmit($event)">
                    <input type="text" class="model-input1" formControlName="CompanyName" placeholder="Company Name" required><br>
                    <input type="text" class="model-input1" formControlName="ContactPerson" placeholder="Contact Person" required><br>
                    <input type="text" class="model-input1" formControlName="ContactNumber" placeholder="Phone number" required><br>
                    <input type="text" class="model-input1" formControlName="Email" placeholder="Email" required><br>
                    <button class="btn btn-default btn-3" (click)="modalRef.hide()">Submit</button>
                </form>
                </div>

            </div>
        </div>

    </ng-template>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title text-ctr">BECOME NEMO'S BUSINESS SERVICE PARTNER</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>

    </div>
    <div class="modal-body">
        <form  [formGroup]="profileForm1"  (ngSubmit)="onSubmit1($event)">
        <div class="row">
            
            <div class="col-xl-6">
                <input type="text" class="model-input" formControlName="Name" placeholder="Name" required><br><br>
                <input type="text" class="model-input" formControlName="PhoneNumber" placeholder="Phone number" required>
            </div>
            <div class="col-xl-6">
                <select formControlName="ServiceArea" class="model-input" [(ngModal)]="inp" required>
                    <option value=""  disabled  selected>Select your option</option>
                    <option value="Searvice area"> Taxes & Compliance</option>
                    <option value="haydrabd1">Operations Improvement</option>
                    <option value="haydrabad2">Investment </option>
                    <option value="audhaydrabad3">Sales & Aggregation</option>
                    <option value="audhaydrabad3">Material Sourcing</option>
                    <option value="audhaydrabad3">Export/Import</option>
                </select>
                <br><br>
                <input type="text" class="model-input" formControlName="Email" placeholder="Email" required>
                <br>
                
            </div>
            <button class="btn btn-default btn-2" (click)="modalRef.hide()">Submit</button>
        </div>
    </form> 
    </div>

</ng-template>
<br><br>

<app-footer></app-footer>