
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container width-of-nav">
    <img  src="../../../assets/images/Logo.png" width="35" height="35" >

        
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/story" routerLinkActive="active">Our story</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/partner" routerLinkActive="active">Partners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/git" routerLinkActive="active">Get In Touch</a>
          </li>
      </ul>
    </div>
</div>
  </nav>