.navbar{
    background-color: transparent !important;
    padding: 8px 3vw;
}
a{
    color: white;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}
.width-of-nav{
    max-width: 1300px !important;
}
.active{
    border-bottom: 2px solid #fd7e14;
}
.nav-link{
    padding: 0px 0px 7px 0px !important;
    margin: 0px 20px 0px 20px;
}