.navbar{
    background-color: blue !important;
    padding: 8px 3vw;
}
a{
    color: white !important;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}
.width-of-nav{
    max-width: 1300px !important;
}