
<div id="parent"> <app-header id="header2"></app-header> </div>
<div class="main">
    <div class="container">
        <div class="center-text text-center">
            <p class="first-line">On a mission to enhance the competitiveness of</p>
            <p class="second-line">India's 60 million MSME’s</p>
        </div>
        <div class="bottom-section">
                <div class="middle">
                    <div class="row">
                        <div class="col-xl-12">
                            <p class="last-section-title">
                                NEMO COVID-19 HELP
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-8">
                            <p class="last-section-basetext">If you are a small business in distress due to Covid-19, we can help you with:</p>
                            <p class="last-section-basetext"><i class="fa fa-check" style="font-size:18px;color:  #555CFA;"> </i>  Low cost working capital to sustain the next few months</p>
                            <p class="last-section-basetext"><i class="fa fa-check" style="font-size:18px;color:  #555CFA;"> </i>  Free expert consultation to tackle financial and operational challenges</p>
                        </div>
                        <div class="col-xl-4">
                            <button class="btn-1">Talk to Experts</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<div class="second-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-sm-6 second-section-text-part">
                <p class="second-section-header">A New Way To Run Your Business</p>
                <p class="second-sesction-text">An easy, secure and smart application to run your business smoothly.Access securely from your computer or mobile. Brought to you in partnership with ICICI Bank</p>
                 <button class="second-section-button">Request Demo
                   <span class="btn-span"><svg _ngcontent-byn-c36="" width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-byn-c36="" d="M1.28711 1.09668L7.56445 7.22099L1.28711 13.7314" stroke="white" stroke-width="2"></path></svg></span>
                </button> 
            </div>
            <div class="col-xl-5 col-sm-6">
                <img class="img-1" src="../../../assets/images/Brainstorming-rafiki.svg">
            </div>
        </div>
    </div>
</div>





































<div class="third-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-sm-6">
                <img class="img-2" src="../../../assets/images/Finance-rafiki.svg">
            </div>
            <div class="col-xl-7 col-sm-6">
                <p class="third-section-text">
                    A Finance And Banking App That Makes Tracking Cash Flows Easy
                </p>
            </div>
        </div>
    </div>
</div>

<div class="fourth-section">
    <div class="container">
        <div class="fourth-width">
        <div class="row">
            <div class="col-xl-6 col-sm-6">
                <h4 class="first-line-fourth-section"><i class="fa fa-check" style="font-size:18px;color:  #555CFA;"> </i> Innovative way to track sales</h4>
                <p class="second-line-fourth-section">Quick invoicing, prioritized collection reminders, easy-collect links</p>

                <h4 class="first-line-fourth-section"><i class="fa fa-check" style="font-size:18px;color:  #555CFA;"> </i> Automated cash flow matching</h4>
                <p class="second-line-fourth-section">Quick invoicing, prioritized collection reminders, easy-collect links</p>

                <h4 class="first-line-fourth-section"><i class="fa fa-check" style="font-size:18px;color:  #555CFA;"> </i> Financial insights and reports</h4>
                <p class="second-line-fourth-section">Quick invoicing, prioritized collection reminders, easy-collect links</p>

            </div>
            <div class="col-xl-6 col-sm-6">
                <h4 class="first-line-fourth-section"><i class="fa fa-check" style="font-size:18px;color:  #555CFA;"> </i> Simplified vendor management</h4>
                <p class="second-line-fourth-section">Quick invoicing, prioritized collection reminders, easy-collect links</p>

                <h4 class="first-line-fourth-section"><i class="fa fa-check" style="font-size:18px;color:  #555CFA;"> </i> Get ICICI current account loaded with features</h4>
                <p class="second-line-fourth-section">Quick invoicing, prioritized collection reminders, easy-collect links</p>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="fifth-section">
    <div class="fifth-width">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-sm-6">
                <div class=" fifth-text-part">
                <h4 class="fifth-header">A Financial Lifeline To Keep You Afloat</h4>
                <p class="fifth-title"><i class="fa fa-check" style="font-size:18px;color:  #9b51e0;"></i>Get invoices discounted</p>
                <h4 class="fifth-text">Get paid early and improve cash flow by raising invoices on Nemo</h4>
                <p class="fifth-title"><i class="fa fa-check" style="font-size:18px;color:  #9b51e0;"></i>Get fast collateral-free loans</p>
                <p class="fifth-text">Get best interest rates by making payments/collections through Nemo</p>
            </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <img class="img-3" src="../../../assets/images/Bankruptcy-amico.svg">
            </div>
    </div>
</div>
</div>
<app-footer></app-footer>
