<div class="container">
<div class="bottom-border">

    <div class="row">
        <div class="col-xl-3">

            <h4>Need Help</h4>
            <p>Get in Touch</p>
            <p>Our Story</p>
            <p>Terms & Conditions</p>
            <p>Privacy Policy</p>

        </div>
        <div class="col-xl-3">

            <h4>Company</h4>
            <p>Home</p>
            <p>Services</p>
            <p>Partners</p>
            <p>Xpert</p>

        </div>
        <div class="col-xl-3">

            <h4>Company</h4>

            <h5>Email</h5>
            <p>info@gonemo.io</p>
            <p>jeevan@gonemo.io</p>

            <h5>Phone</h5>
            <p>+91 889 762 800</p>

        </div>
        <div class="col-xl-3">
            
            <h4>Let’s Talk</h4>
            <p>Need Covid-19 Survival Help? Write to us at</p>
                <p>hello@gonemo.io</p>

        </div>
    </div>
</div>

</div>
<div class="text-center footer-text">
    Copyright © 2020 NEMO. All Rights Reserved. Designed and Developed by Dviate Systems Pvt.Ltd.
</div>