<div class="container">
<div class="bottom-border">

    <div class="row">
        <div class="col-xl-3 col-sm-3 col-xs-12">
            <div class="wrapper">
            <h4>Need Help</h4>
           <a routerLink="/git"> <p>Get in Touch</p></a>
           <a routeLink="/story"> <p>Our Story</p></a>
            <p>Terms & Conditions</p>
            <p>Privacy Policy</p>
        </div>
        </div>
        <div class="col-xl-3 col-sm-3 col-xs-12">
            <DIV class="wrapper">
            <h4>Company</h4>
           <a routerLink="/home"> <p>Home</p></a>
           <a> <p>Services</p></a>
           <a routerLink="/partner"> <p>Partners</p></a>
           <a routerLink='/xpert'> <p>Xpert</p></a>
        </DIV>
        </div>
        <div class="col-xl-3 col-sm-3 -col-xs-12">
            <div class="wrapper">
            <h4>Company</h4>

            <h5>Email</h5>
           <p> <a href="mailto:info@gonemo.io">info@gonemo.io</a></p>
           <p> <a href="mailto:jeevan@gonemo.io">jeevan@gonemo.io</a></p>

            <h5>Phone</h5>
            <p><a href="tel:+91 889 762 800">+91 889 762 800</a></p>
        </div>
        </div>
        <div class="col-xl-3 col-sm-3 col-xs-12">
            <div class="wrapper">
            <h4>Let’s Talk</h4>
            <p>Need Covid-19 Survival Help? Write to us at</p>
                <p><a href="mailto:hello@gonemo.io">hello@gonemo.io</a></p>
            </div>
        </div>
    </div>
</div>

</div>
<div class="text-center footer-text">
    Copyright © 2020 NEMO. All Rights Reserved. Designed and Developed by Dviate Systems Pvt.Ltd.
</div>