.container{
    border-bottom: 1px solid black;
    margin-top: 5%;
}
.footer-text{
    margin: 1%;
}
h4{
    font-weight: bold;
font-size: 18px;
line-height: 22px;
/* identical to box height, or 122% */

letter-spacing: 0.0216667px;

/* clr_1 */

color: #555CFA;
}
p{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 0.0144444px;
    color: #303030;
}
h5{
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.0216667px;
    color: #303030;
}
.bottom-border{
    width: 70%;
    margin: auto;
}