<br>
<div class="container">
<div class="bottom-border">

    <div class="row">
        <div class="col-xl-4 col-sm-4 col-xs-12">
            <div class="wrapper">
            <h4>Company</h4>
           <!-- <a routerLink="/git"> <p>Get in Touch</p></a> -->
           <a routeLink="/story"> <p>Our Story</p></a>
           <a> <p>Partners</p></a>
            <p>Terms & Conditions</p>
            <!-- <p>Privacy Policy</p> -->
        </div>
        </div>
        <!-- <div class="col-xl-3 col-sm-3 col-xs-12">
            <DIV class="wrapper">
            <h4>Company</h4>
           <a routerLink="/home"> <p>Home</p></a>
           <a> <p>Services</p></a>
           <a routerLink="/partner"> <p>Partners</p></a>
           <a routerLink='/xpert'> <p>Xpert</p></a>
        </DIV>
        </div> -->
        <div class="col-xl-4 col-sm-4 -col-xs-12">
            <div class="wrapper">
            <h4>Contact</h4>

            <!-- <h5>Email</h5> -->
           <p> <a href="hi@gonemo.com">hi@gonemo.com</a></p>
           <!-- <p> <a href="mailto:jeevan@gonemo.io">jeevan@gonemo.io</a></p> -->

            <!-- <h5>Phone</h5> -->
            <p><a href="tel:+91-9121007703">+91-9121007703</a></p>
        </div>
        </div>
        <div class="col-xl-4 col-sm-4 col-xs-12">
            <div class="wrapper">
            <h4>Let’s Talk</h4>
            <p>Need help to survive Covid-19? </p>
                <p><a href="hi@gonemo.io">Write to us at hi@gonemo.io </a></p>
            </div>
        </div>
    </div>
</div>

</div>
<div class="text-center footer-text">
    Copyright © 2020 NEMO. All Rights Reserved. Designed and Developed by Dviate Systems Pvt.Ltd.
</div>